<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
</head>
<body>
<th:block th:replace="fragments/header::header"/>
<div class="container">
    <h1>Statement</h1>
    <form th:action="@{/transaction/statement}" th:object="${statement}" id="statement" method="post">
        <div class="form-group">
            <label for="card-no">Card No</label>
            <input type="text" class="form-control" id="card-no" aria-describedby="card-no-description" placeholder="Card Number" th:field="*{cardNo}">
            <small id="card-no-description" class="form-text text-muted">Sample card number: 9832551217745378</small>
        </div>
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <p/>
    <div id="ajaxLoadedContent"></div>
</div>
<th:block th:replace="fragments/footer::footer"/>
<script>
    $(document).ready(function () {
        makeAjaxSubmit('statement');
    });
</script>
</body>
</html>