<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="transaction-response">
    <div th:object="${response}">
        <div class="row">
            <div class="input-group mb-3 col-6">
                <div class="input-group-prepend">
                    <span class="input-group-text">Status</span>
                </div>
                <input type="text" class="form-control" th:field="*{status}">
            </div>
            <div class="input-group mb-3 col-6">
                <div class="input-group-prepend">
                    <span class="input-group-text">Message</span>
                </div>
                <input type="text" class="form-control" th:field="*{message}">
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-6">
                <div class="input-group-prepend">
                    <span class="input-group-text">Transaction Id</span>
                </div>
                <input type="text" class="form-control" th:field="*{tranId}">
            </div>
            <div class="input-group mb-3 col-6">
                <div class="input-group-prepend">
                    <span class="input-group-text">Remained Balance</span>
                </div>
                <input type="text" class="form-control" th:field="*{remainedBalance}">
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-6">
                <div class="input-group-prepend">
                    <span class="input-group-text">Applied Amount</span>
                </div>
                <input type="text" class="form-control" th:field="*{appliedAmount}">
            </div>
            <div class="input-group mb-3 col-6">
                <div class="input-group-prepend">
                    <span class="input-group-text">Reference TranId</span>
                </div>
                <input type="text" class="form-control" th:field="*{referenceTranId}">
            </div>
        </div>
    </div>
</th:block>
</html>